body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input, select, textarea {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  height: 30px;
  resize: vertical;
  flex: 0 0 100px;
  
}

div.toptitle{
  text-align: left;
  color:blue;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
}
label {
  
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-weight: bold;
  line-height: 16px;
  margin-right:-6px;
  font-size: 12px;
  
  
}

.card-header{

  background-color:lightsteelblue;
  
}
.motorist {
  margin-top: 1px;
  margin-bottom: 1px;
}
.nav-item .nav-link {
    color: red;
}